* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

/****************************** FARVER *******************************/
html {
  --primary: #0231fd;
  --secondary: #ffffff;
  --tetiary: #000000;
  --accent: #f9f730;
  --dark: #0c86fa;
}
/****************************** BAGGRUND *******************************/

footer {
  background-color: var(--tetiary);
  color: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 3rem;
}

.footerbutton {
  background-color: var(--primary);
  color: var(--secondary);
  height: 50px;
  width: 100px;
  border: var(--primary);
  box-shadow: 5px 5px;
  margin-top: 20px;
}
.footerbutton a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
